.artist__body {
    padding: 30px;
    flex: 1;
    height: 100vh;
    color: white;
    overflow-y: overlay;
    margin-left: 250px;
    background: linear-gradient(rgb(91, 87, 115), rgba(0,0,0,1));
}


.artist__body::-webkit-scrollbar {
    display: none;
}

.artist__info {
    display: flex;
    align-items: flex-end;
    padding: 10px;
}

.artist__info > img{
    height: 20vh;
    margin: 0 20px;
    box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
}

.artist__infoText{
    flex: 1;
}

.artist__infoText > h2{
    font-size: 48px;
    margin-bottom: 10px;
}


.artist__icons {
    display: flex;
    align-items: center;
}

.artist__icons > .MuiSvgIcon-root {
    margin-right: 20px;
}

.artist__shuffle {
    font-size: 80px !important;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.artist__songs {
    margin: 20px -30px;
}

.artist__shuffle:hover {
    transition: 100ms transform ease-in;
    transform: scale(1.08);
}